div {
    width:500px;
    height:300px;
    border-radius:10px;
}
.grad{
    background: blue;
    background: -webkit-linear-gradient(left top,blue,white);
    background: -moz-linear-gradient(right bottom,blue,white);
    background: -o-linear-gradient(right bottom,blue,white);
    background: linear-gradient(to right bottom , blue, white);
}