div {
    width:400px;
    height:250px;
    border-radius:10px;
}
.grad1{
    background: skyblue;
    background: -webkit-radial-gradient(red,yellow,skyblue);
    background: -moz-radial-gradient(red,yellow,skyblue);
    background: -o-radial-gradient(red,yellow,skyblue);
    background: radial-gradient(red,yellow,skyblue);
}
.grad2{
    background: skyblue;
    background: -webkit-radial-gradient(red,yellow 20%,skyblue);
    background: -moz-radial-gradient(red,yellow 20%,skyblue);
    background: -o-radial-gradient(red,yellow 20%,skyblue);
    background: radial-gradient(red,yellow 20%,skyblue);
}
