h2.accent{
    background-color: #222;
    color: #fff;
    padding: 5px;
}
.browntext{
    color: brown;

}
.boldtext{
    font-weight: bold;
}
.bluetext{
    color: blue;
}
#container{
    width: 600px;
    padding: 15px;
    border : 1px dotted gray;
}